{% extends 'base_purecss' %}

{% block body %}
{% include "/menus/main_menu.html" with { "section": "api" }%}

<div class="pure-g-r side-menu" id="layout">
  {% include "/menus/api_menu.html" %}

  <div class="pure-u-1" id="main">
    {% include "/elements/header.html" %}

    <div class="content">
      {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </div>
  </div> <!-- end div main -->
</div><!-- end div layout -->
{% endblock %}


{% block footer %}
<div class="pure-g-r side-menu" id="footer">
  {% include "/elements/footer.html" %}
</div>
{% endblock %}

{% block js_footer %}
<script src="{{ site.url }}/js/main.js"></script>
{% endblock %}
