<!-- Responsive sidebar menu for API section -->
<a href="#menu" id="menuLink" class="pure-menu-link"><span></span></a>

<div class="pure-u" id="menu">
  <div class="pure-menu pure-menu-open">
      <ul>
          <li {% if page.sub_menu == "basics"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/">Basics</a></li>
          <li {% if page.sub_menu == "authentication"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/authentication/">Authentication</a></li>
          <li {% if page.sub_menu == "profile"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/profile/">User Profiles</a></li>
          <li {% if page.sub_menu == "skill"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/skill/">Skills</a></li>
          <li {% if page.sub_menu == "swarm"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/swarm/">Swarms</a></li>
      </ul>
  </div>
</div>