<!-- Responsive sidebar menu for API section -->
<a href="#menu" id="menuLink" class="pure-menu-link"><span></span></a>

<div class="pure-u" id="menu">
  <div class="pure-menu pure-menu-open">
      <ul>
          <li {% if page.sub_menu == "basics"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/v2/">Introduction</a></li>
          <li {% if page.sub_menu == "authentication"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/v2/authentication/">Authentication</a></li>
          <li {% if page.sub_menu == "profile"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/v2/profile/">User Profiles</a></li>
          <li {% if page.sub_menu == "work-experience"%} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/v2/work-experience/">Work experience</a></li>
          <li {% if page.sub_menu == "education" %} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/v2/education/">Education</a></li>
          <li {% if page.sub_menu == "relationship" %} class="pure-menu-selected"{% endif %}><a href="{{ site.url }}/api/v2/relationship/">User Relationship</a></li>
      </ul>
  </div>
</div>
